<!DOCTYPE html>
<html>
<head>
	<title>Artifical Intelligence</title>
	<link rel="stylesheet" href="/css/style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="jumbotron">
	<nav>
		<a href="/" type="button" class="btn btn-outline-dark"><em>Overview</em></a>
	    <a href="/index2" type="button" class="btn btn-outline-dark"><em>Self-Driving</em></a>
	    <a href="/index3" type="button" class="btn btn-outline-dark"><em>Gaming</em></a>
	    <a href="/index4" type="button" class="btn btn-outline-dark"><em>Healthcare</em></a>
    </nav>
    <br>
    <hr>