<%- include('partials/header.ejs') %>
    <header class="text-primary">
        <h1 class="animated"><em>Benefits of AI in Healthcare</em></h1>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </header>
    <br /><br />
        
    <main>
        <figure id="medical">
            <img src="img/medicalai.jpg" alt="medicalAI" >
        </figure>
        <br>
        <br>
        <br>
        <br>
            <p>
                The beauty of artifical intelligence is that it can potentially be connected to multiple areas of study. Not just what the general
                public thinks. An area that I learned about recently that is effected by AI just as any other area is healthcare/medicine. The main
                use of this technology is essentially to make test dummies from AI that would be layed out as if they were human. This would be 
                beneficial because it would mean no human would be necessary to test new medicine and understand diseases. In summary,"...complex 
                algorithms and software to emulate human cognition in the analysis of complicated medical data. Specifically, AI is the ability for
                computer algorithms to approximate conclusions without direct human input."
                <br>
                <a href="url"><small>https://en.wikipedia.org/wiki/Artificial_intelligence_in_healthcare</small></a>
            </p>
    </main>
<%- include('partials/footer.ejs') %>