<%- include('partials/header.ejs') %>
    <header class="text-primary">
        <h1 class="animated"><em>AI in Gaming</em></h1>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </header>
     <br /><br />
        
    <div class="container">
        <div>
            <div class="circle -shape-outside">
              <img src="img/minimalistic.png" alt="circlePic">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            Gaming and AI have gone way further back than people realize. The thing is that nowadays people think AI as something that can think on
            its own and make decisions on its own. That is the case in general but it can be seen at a smaller scale such as PacMan. In PacMan the
            ghosts have to decide the quickest path to the player as the player is constantly moving and also know when to switch from attacking to
            running when the player becomes the attacker. This is intelligence in games at a smaller scale, but as for what the future holds, things
            are much more complicated. According to Julian Togelius, "... play the player as the player plays the game"(5:32-5:36). Essentially, AI
            in games could potentially be heading in the direction of learning the game as the player plays to give the player a sense of randomness
            and freedom. In my opinion this is very exciting to think about since games have come a long way in such a small amount of time so what the
            future holds will be interesting to say the least.
            <br>
            <a href="url"><small>https://www.youtube.com/watch?time_continue=337&v=NPuYtHZud0o&feature=emb_title</small></a>
        </div>
        <br>
    </div>
<%- include('partials/footer.ejs') %>