<%- include('partials/header.ejs') %>
    <header class="text-primary">
        <div class="container">
          <h1 class="animated"><em>Artifical Intelligence</em></h1>
        </div>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </header>
    <main>
        <figure id="aware">
            <img src="img/img1.jpg" alt="overviewImage" >
        </figure>
        <div id="overview">
            <br>
            <br>
            <p>
                Technology has been exponentially improving since the 1900s. In just as short as 70 years, technology has skyrocketed in power
                and it doesn't seem to be slowing down. Every year there's an improvement in some aspect of technology that wasn't possible just
                a year prior. This can be distinctly seen when comparing the technology everybody has at home and the technology astronauts had when
                going to the moon. Something as unimportant nowadays, such as a car controller, has more technological power than the entirety of the
                landing on the moon. Now that a picture has been painted, the new dream technology that could quite easily become commonplace like 
                everything else is articial intelligence. AI is a beneficial tool for all as well because it's very malleable in that anybody could
                find use for it.
            </p>
            <br /><br />
            <em>
                Whenever I hear people saying AI is going to hurt people in the future I think, yeah, technology can generally always be used for good
                and bad and you need to be careful about how you build it … if you’re arguing against AI then you’re arguing against safer cars that
                aren’t going to have accidents, and you’re arguing against being able to better diagnose people when they’re sick.
            </em><br />
            <strong>-Mark Zuckerberg</strong>
        </div>
    </main>
<%- include('partials/footer.ejs') %>