<%- include('partials/header.ejs') %>
    <header class="text-primary">
        <h1 class="animated"><em>Autonomous Cars</em></h1>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </header>
    <br /><br />
    <main>
        <figure id="self">
            <img src="img/tesla.jpg" alt="selfDriving" >
        </figure>
        
        <div id="content">
            <table>
                <tr id="table-header">
                    <td><strong>Pros</strong></td>
                    <td><strong>Cons</strong></td>
                </tr>
                <tr class="table-row">
                    <th>Machines don't get distrtacted</th>
                    <th>Regulation of self driving technology</th>
                </tr>
                <tr class="table-row">
                    <th>Machines don't get drunk</th>
                    <th>Driving will lose meaning</th>
                </tr>
                <tr class="table-row">
                    <th>People aren't as reliable behind the wheel</th>
                    <th>Jobs will disappear</th>
                </tr>
            </table>
        </div>
            <p>
                An area in which artifical intelligence has the spotlight is self driving vehicles. Self driving vehicles has been a topic
                for quite some time and recently it has caught the public eye for good reason, but with some repercussions as well. Firstly, the
                pros of self driving cars include things that include the safety of the driver. Examples like these machines not able to make common 
                human error. According to Bruce Brown at Digital Trends states, "Human error is involved in 94 to 96 percent of all motor vehicle crashes."
                On the other hand, the cons of such a technology aren't as well defined as the pros. Regardless of this, there's always a chance for
                failure, but some other important cons are the loss of jobs, and overall lack of enjoyment of driving. I can say personally, that I
                truly enjoy driving and it's worrying to think about not having to do that anymore since it's something I enjoy doing. More importantly,
                this will surely mean a loss of jobs for many people. Although this is true, I believe the lack of such a job will benefit us because
                this will mean that jobs with a higher education will be necessary, incentivising people to go to school. Overall, the pros outweigh the
                cons in my opinion when it comes to self driving cars.
                <br>
                <a href="url"><small>https://www.womenautoknow.com/pros-and-cons-of-autonomous-cars/</small></a>
                <br>
                <a href="url"><small>https://www.digitaltrends.com/cars/2016-nhtsa-fatality-report/</small></a>
            </p>
    </main>
<%- include('partials/footer.ejs') %>